*{
    margin:0px;
}
main{
margin-left:10px;
margin-right:8px;

    
    
}

.pattern{
    background-color:#4EA0FF;
    background-image: url("../img/pattern.png" );
    height: 160px;
    width: auto;
    background-repeat: repeat;
    background-size:contain;
    margin-left:px ;
}


#imglogo{
    max-width: 300px;
    height: auto;
    margin-top: 70px;
    margin-left: 30px;
}

#articletest{

    color:gray;

}

#nameeditor{

    color:#4EA0FF;
}

#list{

    padding-left:10px;

}

thead{
background-color:#4EA0FF;
color: white;
border-collapse: collapse;
}
