*{
    margin:0px;
}
main{
margin-left:10px;
margin-right:10px;

    
    
}

.pattern{
    background-color:#4EA0FF;
    background-image: url("../img/pattern.png" );
    height: 160px;
    width: auto;
    background-repeat: repeat;
    background-size:contain;
    margin-left:px ;
}


#imglogo{
    max-width: 300px;
    height: auto;
    margin-top: 70px;
    margin-left: 30px;
}

#articletest{

    color:gray;

}

#nameeditor{

    color:#4EA0FF;
}

#list{

    padding-left:10px;

}

table{
background-color:#4EA0FF;
color: white;
border-collapse: collapse;
width: 100%;
height: 200px;
margin-top:20px;
margin-left: 5px;
}


tr td{
background-color: #a90000;
color:black;
} 

/* dando la dimensione a th ridimensiona tutte le celle */
/* th ha come impostazione predefinita text-align:center quindi modificandolo possiamo portare il testo a sinistra */
th{
width: 33.33333333%;
text-align: left;
}

.rigacentrale td{
background-color:white;
}